
/** Helper @mixin function **/
/***************************/

@mixin display-flex(){
	display:-webkit-flex;
    display:-webkit-box;
    display:-moz-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
}

@mixin justify-content($justify: center){
	justify-content: $justify;
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
}

@mixin align-items($align: center){
	align-items: $align;
	-webkit-align-items: $align;
	-moz-align-items: $align;
	-ms-align-items: $align;
    -webkit-box-align: $align;
    -webkit-flex-align: $align;
    -ms-flex-align: $align;
}

@mixin background-size($val: cover){
	background-size: $val;
	-moz-background-size: $val;
	-ms-background-size: $val;
	-o-background-size: $val;
}

@mixin background-prefix($val){
	background: $val;
	-webkit-background: $val;
	-moz-background: $val;
	-ms-background: $val;
	-o-background: $val;
}

@mixin box-sizing($val){
	box-sizing: $val;
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	-ms-box-sizing: $val;
	-o-box-sizing: $val;
}

@mixin transition-prefix($val){
	-webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    -ms-transition: $val;
    transition: $val;
}

@mixin transform-prefix($val){
	transform: $val;
    -webkit-transform: $val;
    -moz-transform: $val;
    -ms-transform: $val;
    -o-transform: $val;
}

@mixin transform-origin($val){
	transform-origin: $val;
    -webkit-transform-origin: $val;
    -moz-transform-origin: $val;
    -o-transform-origin: $val;
    -ms-transform-origin: $val;
}

@mixin animation-name($val){
	animation-name: $val;
	-webkit-animation-name: $val;
	-moz-animation-name: $val;
	-o-animation-name: $val;
	-ms-animation-name: $val;
}

@mixin animation-duration($val){
	animation-duration: $val;
	-webkit-animation-duration: $val;
	-moz-animation-duration: $val;
	-o-animation-duration: $val;
	-ms-animation-duration: $val;
}

@mixin animation-iteration-count($val){
	animation-iteration-count: $val;
	-webkit-animation-iteration-count: $val;
	-moz-animation-iteration-count: $val;
	-o-animation-iteration-count: $val;
	-ms-animation-iteration-count: $val;
}

@mixin animation-timing-function($val){
	animation-timing-function: $val;
	-webkit-animation-timing-function: $val;
	-moz-animation-timing-function: $val;
	-o-animation-timing-function: $val;
	-ms-animation-timing-function: $val;
}

