a{
  text-decoration: none;
}

.top-header__gap{
  height: 80px;
}

.font-kh-taprom{
  font-family: $font-taprom;
}

.font-kh-siemreap{
  font-family: $font-siemreap;
}

.font-kh-fasthand{
  font-family: $font-fasthand;
}

.font-kh-freehand{
  font-family: $font-freehand;
}

.font-kh-metal{
  font-family: $font-metal;
}

.font-en-opensans{
  font-family: $font-opensans;
}

.font-en-opensans-cond{
  font-family: $font-opensans-cond;
}

.font-kh-nokora{
  font-family: $font-nokora;
}

.font-kh-hanuman{
  font-family: $font-hanuman;
}

.font-nokora-opensans_cond{
  font-family: $font-nokora-opensans-cond;
}

.slideshow-overlay__box{
  & > *{
    position: relative;
    display: block;
    float: left;
    width: 100%;
  }

  .datetime{
    font-size: 1.15rem;
  }
}

.breadcrum{
  position: relative;
  width: 100%;

  h3{
    display: inline-block;
    margin: 0;
    padding: 5px 7px;
    font-size: 1rem;
    font-weight: 700;
    vertical-align: top;
    color: #333;

    &.yellow{
      background: $yellow;

      & > *{
        color: #2e2e2e;
      }
    }

    &.plain{
      background: transparent;
    }
  }

  a{
    text-decoration: none;
    color: #333;

    &:hover{
      color: $post-grid-font-color;
    }
  }

  i{
    vertical-align: baseline;
    font-size: 1.2rem;
  }
}

.fa-big{
  font-size: 1.5rem !important;
}

.padding-left-md{
  padding-left: 20px;
}

.margin-bottom-large{
  margin-bottom: 60px;
}

.custom-slider__cta{
  background: $yellow;
  color: #333;
  display: inline-block;
  padding: 8px 35px;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: $font-opensans;
  text-transform: uppercase;
  @include prefixer(transition, all 0.25s ease, webkit moz ms o);

  &:hover{
    text-decoration: none;
    color: #222;
    background: darken($yellow, 5%);
  }

  &.btn-flat-border{
    color: $yellow;
    border: 2px solid $yellow;
    background: transparent;

    &:hover{
      background: $yellow;
      color: #2a2a2a;
    }
  }
}

.bg-grey-transparent{
  background: rgba(0,0,0,0.4);
}

.bg-transparent{
  background: transparent;
}

.slideshow-overlay__category{
  margin-bottom: 15px;
  position: relative;
  @include clearfix();

  h3{
    position: relative;
    display: inline-block;
    margin: 0;
    float: left;
    padding: 8px 12px;
    line-height: 1;
    color: #555 !important;
    font-weight: 800;
    background: $yellow;
    text-align: left;
  }
}

.section-heading{
  position: relative;
  width: 100%;
  @include clearfix();

  &.bottom-line{
    &:after{
      position: absolute;
      display: block;
      content: " ";
      height: 2px;
      width: 100%;
      background: darken($yellow, 1%);
    }
  }

  h3{
    position: relative;
    display: inline-block;
    padding: 3px 7px;
    margin: 0;
    color: darken($yellow, 1%);
    font-size: 1.1rem;
    font-weight: 700;

    &.grey-color{
      color: #777;
    }

    &.font-black{
      color: #000;
    }

    &.bg_black{
      background: rgba(#000,1);
    }

    &.bg_grey{
      background: rgba(#686868,0.9);
    }

    &.extra-pad{
      padding: 7px 15px;
    }

    &.bottom-line::after{
      position: absolute;
      display: block;
      content: "";
      background: $yellow;
      height: 3px;
      padding: 0;
      bottom: -2px;
      width: 100%;
    }

    &.extra-large{
      font-size: 1.4rem;
      font-weight: 500;
      font-family: $font-nokora;
      padding-bottom: 10px;
    }
  }

  h1{
    font-size: 2.0rem;
  }

  i{
    font-size: 2rem;
    vertical-align: middle;
  }

  span.bold{
    color: #333;
    font-weight: 800;
    display: inline-block;
    margin-left: 5px;
    position: relative;

    &.bottom-line::after{
      position: absolute;
      display: block;
      content: "";
      background: $yellow;
      height: 3px;
      bottom: -5px;
      width: 100%;
    }
  }

}

.section-heading-large{
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  @include clearfix();

  h3{
    position: relative;
    display: inline-block;
    padding: 10px 0px;
    margin: 0;
    color: #000;
    font-size: 1.73rem;
    font-weight: 500;
    font-family: $font-nokora;

    &:after{
      position: absolute;
      display: block;
      content: " ";
      height: 3px;
      bottom: -5px;
      width: 70%;
      background: darken($yellow, 1%);
    }
  }
}

.section{
  position: relative;
  width: 100%;
  padding: 50px 0 20px 0;
}

.section-bg__white{
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.section-bg__dark{
  background: #444;
}

.left { float:left; }
.right { float:right; }
.center { text-align:center; }

.responsive-nav__open{
  overflow: hidden;
}

#closeMenu{
  position: relative;
  float: right;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  z-index: 101;

  &:hover{
    span::before,
    span::after{
      background: rgba(255,255,255,0.8);
      @include prefixer(transform, scale(1.05, 1.05), webkit moz ms o);
    }
  }

  span{
    position: absolute;
    width: 25px;
    height: 25px;
    text-align: center;
    top: 50%;
    left: 50%;
    @include prefixer(transform, translate(-50%, -50%), webkit moz ms o);

    &:before,
    &:after{
      position: absolute;
      content: " ";
      display: block;
      height: 3px;
      width: 25px;
      background: rgba(255,255,255,0.4);
      top: 50%;
      border-radius: 1px;
      @include prefixer(transition, all 0.2s ease, webkit moz ms o);
    }

    &:before{
      @include prefixer(transform, rotate(45deg), webkit moz ms o);
    }

    &:after{
      @include prefixer(transform, rotate(-45deg), webkit moz ms o);
    }

  }
}

.font-yellow{
  color: $yellow !important;
}

.padding-left-sm{
  padding-left: 15px;
}

.padding-small{
  padding: 10px;
}

.padding-xs{
  padding: 5px;
}

.no-pad-right{
  padding-right: 0 !important;
}

.no-pad-left{
  padding-left: 0 !important;
}

.no-pad-bottom{
  padding-bottom: 0 !important;
}

.no-pad-top{
  padding-top: 0 !important;
}

.no-margin-right{
  margin-right: 0 !important;
}

.no-margin-left{
  margin-left: 0 !important;
}

.no-margin-bottom{
  margin-bottom: 0 !important;
}

.no-margin-top{
  margin-top: 0 !important;
}

.no-pad{
  padding: 0 !important;
}

.padding-bottom-md{
  padding-bottom: 40px;
}

.padding-top-md{
  padding-top: 40px;
}

.padding-bottom-small{
  padding-bottom: 20px;
}

.padding-top-small{
  padding-top: 20px;
}

.color-black{
  color: black !important;
}

/* Suggest video box */
.suggest-video{
  .video-box-feature{
    padding: 10px;
    margin: 0;
    @include display-flex();

    .feature-box-text{

      padding: 10px;
      margin: 0;
    }
  }
}

/* Video feature slickjs */
.video-feature{
  position: relative;
  width: 100%;
  padding: 10px 30px 20px;
  background: #fafaf9;
  @include clearfix();

  .heading{
    padding: 5px;

    h3{
      margin: 0;
      padding: 10px;
      display: inline-block;
      background: #fff;
      font-family: $font-opensans;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }

  .slideset{
    margin-right: -30px;
    margin-left: -30px;
    padding: 0 30px;
    @include box-sizing(content-box);

    .slick-track,
    .slick-list{
      @include display-flex();
    }
  }
}

.feature-contents{
  float: left;
}

.feature-contents,
.feature-inner,
.features-slider,
.slideset,
.feature-mansory,
.mansory-container,
.feature-box-teaser,
.feature-box-text,
.feature-box-footer{
  position: relative;
  width: 100%;
  @include clearfix();
}

.feature-mansory{
  overflow: hidden;
}

.video-box-feature{
  float: left;
  position: relative;
  margin: 0 10px;

  .inner{
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 3px rgba(50, 200, 200, 0.08);
  }

  .mansory-container{
    display: block;

    &:hover,
    &:visited,
    &:focus{
      text-decoration: none;
      outline: none;
    }
  }

  .feature-box-teaser,
  .feature-box-text,
  .feature-box-footer{
    float: left;

    img{
      position: relative;
      display: block;
      vertical-align: bottom;
      height: auto;
      width: 100%;
    }

  }

  .feature-box-text{
    margin-top: 10px;
    padding: 0 10px 10px;

    h3{
      color: #2a2a2a;
      font-size: 17px;
      margin-bottom: 7px;
    }

    p{
      font-size: 15px;
      margin: 0;
      color: #2a2a2a;
    }
  }

  .feature-box-footer{
    padding-top: 10px;
  }
}

/* Slick slider scss */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    padding: 0;
    margin: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    padding: 15px 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
        @include display-flex();
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}


/* Slide controller */
.slide-control{
  font-size: 28px;
    line-height: 1;
    font-weight: 100;
    position: absolute;
    top: 50%;
    display: block;
    padding: 0;
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
    cursor: pointer;
    color: lighten(#2a2a2a,10%);
    border: 0;
    outline: 0;
    background: transparent;

    &.prev{
      height: 100%;
      width: 30px;
      left: 0;
      margin-top: 0;
      background: url(/images/common/back.png) no-repeat 0px 50%;

    }

    &.next{
      margin-top: 0;
      height: 100%;
      right: 0;
      width: 30px;
      background: url(/images/common/next.png) no-repeat 0px 50%;
    }
}

.fb-connect{
  position: relative;
  width: 100%;
  padding: 25px 0;

  .heading{
    font-size: 1.3rem;
    font-weight: 700;
    font-family: $font-nokora;
    color: #9e9e9e;
    display: inline-block;

    .company_name{
      color: $yellow;
      font-family: $font-opensans;
    }
  }

  .facebook-like-share{
    display: inline-block;
  }
}

.facebook-comment{
  position: relative;
  width: 100%;

  .heading{
    font-size: 1.4rem;
    font-weight: 700;
    font-family: $font-nokora;
    color: #454545;
  }
}

.title-medium{
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.3;
}

/*
 * Audio media player
 */

.mejs__controls {
  padding: 0 140px 0 5%;
  @include clearfix();
}

.mejs__container {
    position: relative;
}

.mejs__playpause-button {
    position: absolute !important;
    right: 8%;
    bottom: 95%;
}

.mejs__playpause-button button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 23px;
    color: #cf5da3;
    background: transparent;
}

.mejs__volume-button button {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    font-family: FontAwesome;
    font-size: 17px;
    color: #ccc;
    background: transparent;
}

.mejs__play button:before {
    content: "\f04b";
}

.mejs__controls .mejs__pause button:before {
    content: "\f04c";
}

.mejs__controls .mejs__stop button:before {
    content: "\f04d";
}

.mejs__controls .mejs__mute button:before {
    content: "\f028";
}

.mejs__controls .mejs__unmute button:before {
    content: "\f026";
}

.mejs__container .mejs__controls .mejs__time {
    width: 100%;
    color: #fff;
}

.mejs__controls .mejs__time-rail .mejs__time-loaded {
  background: rgba(255,255,255,0.2);
}
.mejs__controls .mejs__time-rail .mejs__time-handle{
}
.mejs__container .mejs__controls .mejs__time span {
    font-size: 15px;
}

.mejs__controls div.mejs__time-rail {
  width: 100%;
  float: left;
}

.mejs__container .mejs__controls div {

}

span.mejs__duration {
    float: right;
    text-align: right;
    color: #ccc;
}

span.mejs__currenttime {
    font-weight: 700;
}

.mejs__controls .mejs__time-rail {

    span{
      position: absolute;
      top: 0;
      height: 12px;
      display: block;
      border-radius: 50px;
      cursor: pointer;
      width: 100%;
      @include prefixer(transform-origin, left, webkit moz ms);
    }

    .mejs__time-total{
      position: relative;
      background: rgba(0,0,0,0.2);
      overflow: hidden;
    }
}

.mejs__controls .mejs__time-rail .mejs__time-current {
    background: darken($yellow, 3%) none repeat scroll 0 0;
    @include prefixer(transform, scale(0),  webkit moz ms);
}

.mejs__controls .mejs__volume-button {
    position: absolute;
    right: 95px;
    bottom: -8px;
    width: 30px;
    height: 30px;
}

.mejs__controls a.mejs__horizontal-volume-slider {
    display: block;
    position: absolute;
    height: 6px;
    width: 90px;
    right: 0px;
    bottom: 4px;
}

.mejs__controls .mejs__time-rail .mejs__time-float {
    display: none;
    top: -40px;
    width: 40px;
    height: 25px;
    margin-left: -18px;
    text-align: center;
    font-size: 10px;
    background: #fff;
}

.mejs__controls .mejs__time-rail .mejs__time-float-current {
    display: block;
    position: relative;
    top: 0;
    margin: 0;
    line-height: 26px;
    color: #000;
}

.mejs__controls .mejs__time-rail .mejs__time-float-corner {
    top: auto;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -6px;
    border-top: 6px solid #fff;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-total,
.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
}

.mejs__controls .mejs__horizontal-volume-slider .mejs__horizontal-volume-current {
    background: #fff;
}

.mejs__offscreen{
  display: none;
}

/* Checkbox */
.custom-checkbox__outer{
  position: relative;
  width: 18%;
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
  @include clearfix();

  label{
    position: relative;
    background: #f5f5f5;
    line-height: 1;
    float: left;
    width: 100%;
    cursor: pointer;
    padding: 12px 35px 12px 12px;
    display: inline-block;
    @include box-sizing(border-box);

  }

  .checkbox{
    position: absolute;
    display: block;
    visibility: hidden;
    top: 5px;
    right: 5px;
    bottom: 0;
    height: 28px;
    width: 28px;
    z-index: 2;
    cursor: pointer;
    &:after{
      position: absolute;
      display: block;
      font: normal normal normal 18px FontAwesome;
      content: "\f00c";
      color: $white;
      visibility: visible;
      -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale;
           background: $white;
           color: #f1f1f1;
           padding: 5px;
           opacity: 1;
           border: 1px solid #f1f1f1;
           @include transition-prefix(all 0.4s ease);
    }

    &:checked:after{
      color: $white;
      background: $emerald;
    }
  }
}

.fb-comments{
  width: 100%;
}
