$font-fasthand: 'Fasthand', serif;
$font-taprom: 'Taprom', cursive;
$font-metal: 'Metal', cursive;
$font-freehand: 'Freehand', cursive;
$font-siemreap: 'Siemreap', cursive;
$font-opensans: 'Open Sans', sans-serif;
$font-opensans-cond: 'Open Sans Condensed', sans-serif;
$font-nokora: 'Nokora', 'Open Sans', sans-serif;
$font-nokora-opensans-cond: 'Nokora', 'Open Sans', sans-serif;
$font-hanuman: 'Hanuman', 'Open Sans', sans-serif;

/* Logo size */
$logo-lg-height: 80px;
$logo-md-height: 60px;
$logo-sm-height: 50px;
$logo-lg-width: 113px;
$logo-md-width: 84px;
$logo-sm-width: 70px;

/* Color */
$yellow: #ffeb01;
$black: #000;
$white: #fff;
$post-grid-font-color: #6d6d6d;

/* Flat color */
$wet-asphalt: #34495E;
$midnight-blue: #2C3E50;
$green-sea: #16A085;
$turquoise: #1ABC9C;
$asbestos: #7f8c8d;
$concrete: #95a5a6;
$cloud: #ecf0f1;
$pomegranate: #c0392b;
$pumpkin: #d35400;
$carrot: #e67e22;
$nephritis: #27ae60;
$emerald: #2ecc71;
$color-yellow: #E8E759;
$color-yellow-dark: #CCCB1E;
$color-blue: #4444E4;
$color-blue-light: #8E8EEC;
$color-blue-dark: #1818A5;
$color-blue-darkest: #0F0F6C;
$color-blue-extremely-dark: #080840;
$color-grey: #59E8B3;
$color-pink: #E17582;
$color-mac-and-cheese: #E8E759;
$color-royal-blue: #4444E4;
$color-turquoise-blue: #59E8B3;
$color-deep-blush: #E17582;
