
/*
 * Custom scrollbar style
*/
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
      border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
$transparentScrollbar: rgba(0,0,0,0.3);
@include scrollbars(.5em,$transparentScrollbar);

.img-responsive{
	position: relative;
	display: block;
	width: 100%;
	vertical-align: bottom;
}

/* Section heading title */
.section-heading{
	float: left;
	width: 100%;
	padding: 20px 0 10px 0;

	h1{
		margin: 0;
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-family: $Abel;
		font-weight: 400;
		font-size: 1.8em;
		color: lighten(#2a2a2a,10%);
		letter-spacing: -1px;
		word-spacing: 2px;

		&:after{
			display:block;
			position: relative;
			content: "";
			height: 2px;
			background: lighten(#2a2a2a,15%);
			bottom: 0;
		}
	}
}


/* Chartist JS*/
.ct-blue {
  stroke: #7A9E9F !important; }

.ct-azure {
  stroke: #68B3C8 !important; }

.ct-green {
  stroke: #7AC29A !important; }

.ct-orange {
  stroke: #F3BB45 !important; }

.ct-red {
  stroke: #EB5E28 !important; }


.ct-chart-legend .text-primary, .chart-legend .text-primary:hover {
  color: #7A9E9F; }
.ct-chart-legend .text-info, .chart-legend .text-info:hover {
  color: #68B3C8; }
.ct-chart-legend .text-success, .chart-legend .text-success:hover {
  color: #7AC29A; }
.ct-chart-legend .text-warning, .chart-legend .text-warning:hover {
  color: #F3BB45; }
.ct-chart-legend .text-danger, .chart-legend .text-danger:hover {
  color: #EB5E28; }





.ct-label {
  fill: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 1);
  font-size: 0.9em;
  line-height: 1; }

.ct-chart-line .ct-label,
.ct-chart-bar .ct-label {
  display: block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-label.ct-vertical.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-label.ct-vertical.ct-end {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-start {
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-horizontal.ct-end {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: start; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-start {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  text-align: right;
  text-anchor: end; }

.ct-chart-bar.ct-horizontal-bars .ct-label.ct-vertical.ct-end {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  text-align: left;
  text-anchor: end; }

.ct-grid {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  stroke-dasharray: 2px; }

.ct-point {
  stroke-width: 10px;
  stroke-linecap: round; }

.ct-line {
  fill: none;
  stroke-width: 4px; }

.ct-area {
  stroke: none;
  fill-opacity: 0.7; }

.ct-bar {
  fill: none;
  stroke-width: 10px; }

.ct-slice-donut {
  fill: none;
  stroke-width: 60px; }

.ct-series-a .ct-point, .ct-series-a .ct-line, .ct-series-a .ct-bar, .ct-series-a .ct-slice-donut {
  stroke: #68B3C8; }
.ct-series-a .ct-slice-pie, .ct-series-a .ct-area {
  fill: #68B3C8; }

.ct-series-b .ct-point, .ct-series-b .ct-line, .ct-series-b .ct-bar, .ct-series-b .ct-slice-donut {
  stroke: #F3BB45; }
.ct-series-b .ct-slice-pie, .ct-series-b .ct-area {
  fill: #F3BB45; }

.ct-series-c .ct-point, .ct-series-c .ct-line, .ct-series-c .ct-bar, .ct-series-c .ct-slice-donut {
  stroke: #EB5E28; }
.ct-series-c .ct-slice-pie, .ct-series-c .ct-area {
  fill: #EB5E28; }

.ct-series-d .ct-point, .ct-series-d .ct-line, .ct-series-d .ct-bar, .ct-series-d .ct-slice-donut {
  stroke: #7AC29A; }
.ct-series-d .ct-slice-pie, .ct-series-d .ct-area {
  fill: #7AC29A; }

.ct-series-e .ct-point, .ct-series-e .ct-line, .ct-series-e .ct-bar, .ct-series-e .ct-slice-donut {
  stroke: #7A9E9F; }
.ct-series-e .ct-slice-pie, .ct-series-e .ct-area {
  fill: #7A9E9F; }

.ct-series-f .ct-point, .ct-series-f .ct-line, .ct-series-f .ct-bar, .ct-series-f .ct-slice-donut {
  stroke: rgba(104, 179, 200, 0.8); }
.ct-series-f .ct-slice-pie, .ct-series-f .ct-area {
  fill: rgba(104, 179, 200, 0.8); }

.ct-series-g .ct-point, .ct-series-g .ct-line, .ct-series-g .ct-bar, .ct-series-g .ct-slice-donut {
  stroke: rgba(122, 194, 154, 0.8); }
.ct-series-g .ct-slice-pie, .ct-series-g .ct-area {
  fill: rgba(122, 194, 154, 0.8); }

.ct-series-h .ct-point, .ct-series-h .ct-line, .ct-series-h .ct-bar, .ct-series-h .ct-slice-donut {
  stroke: rgba(243, 187, 69, 0.8); }
.ct-series-h .ct-slice-pie, .ct-series-h .ct-area {
  fill: rgba(243, 187, 69, 0.8); }

.ct-series-i .ct-point, .ct-series-i .ct-line, .ct-series-i .ct-bar, .ct-series-i .ct-slice-donut {
  stroke: rgba(235, 94, 40, 0.8); }
.ct-series-i .ct-slice-pie, .ct-series-i .ct-area {
  fill: rgba(235, 94, 40, 0.8); }

.ct-series-j .ct-point, .ct-series-j .ct-line, .ct-series-j .ct-bar, .ct-series-j .ct-slice-donut {
  stroke: rgba(122, 158, 159, 0.8); }
.ct-series-j .ct-slice-pie, .ct-series-j .ct-area {
  fill: rgba(122, 158, 159, 0.8); }

.ct-series-k .ct-point, .ct-series-k .ct-line, .ct-series-k .ct-bar, .ct-series-k .ct-slice-donut {
  stroke: rgba(104, 179, 200, 0.6); }
.ct-series-k .ct-slice-pie, .ct-series-k .ct-area {
  fill: rgba(104, 179, 200, 0.6); }

.ct-series-l .ct-point, .ct-series-l .ct-line, .ct-series-l .ct-bar, .ct-series-l .ct-slice-donut {
  stroke: rgba(122, 194, 154, 0.6); }
.ct-series-l .ct-slice-pie, .ct-series-l .ct-area {
  fill: rgba(122, 194, 154, 0.6); }

.ct-series-m .ct-point, .ct-series-m .ct-line, .ct-series-m .ct-bar, .ct-series-m .ct-slice-donut {
  stroke: rgba(243, 187, 69, 0.6); }
.ct-series-m .ct-slice-pie, .ct-series-m .ct-area {
  fill: rgba(243, 187, 69, 0.6); }

.ct-series-n .ct-point, .ct-series-n .ct-line, .ct-series-n .ct-bar, .ct-series-n .ct-slice-donut {
  stroke: rgba(235, 94, 40, 0.6); }
.ct-series-n .ct-slice-pie, .ct-series-n .ct-area {
  fill: rgba(235, 94, 40, 0.6); }

.ct-series-o .ct-point, .ct-series-o .ct-line, .ct-series-o .ct-bar, .ct-series-o .ct-slice-donut {
  stroke: rgba(122, 158, 159, 0.6); }
.ct-series-o .ct-slice-pie, .ct-series-o .ct-area {
  fill: rgba(122, 158, 159, 0.6); }


/* Registration Form */
.custom-form{
  position: relative;
  width: 100%;
  @include clearfix();

}

.custom-btn-cancel,
.custom-btn-submit{
  position: relative;
  display: inline-block;
  border: 1px solid #dedede;
  padding: 0.7em 1.8em;
  font-weight: 700;
  font-size: 1.3em;
  border-radius: 5px;
  @include prefixer(transition, all 0.15s ease-in-out);
}

.custom-btn-cancel{
  background: rgba(#fbd14b, 0.9);
  color: $primary_font_color;

  &:hover{
    background: darken(#fbd14b, 5%);
  }
}

.custom-btn-submit{
  float: right;
  background: rgba(#4ea1d3, 0.8);
  color: #f1f1f1;

  &:hover{
    background: rgba(#4ea1d3, 1);
  }
}

.custom-form-group{
  width: 100%;
  padding: 15px 0;
  @include clearfix();

  .selectize-control.multi  {

    .selectize-input{
      & > div.item {
        background: #75D701;
        border-radius: 5px;
        color: #f1f1f1;
      }
    }

  }

}

.custom-input-text{
  width: 100%;
  font-size: 16px;
  color: #6e6e6e;
  height: auto;
  padding: 0.78em 0.88em;
  font-weight: 500;
  padding: 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  @include prefixer(box-shadow, inset 0 1px 1px rgba(0,0,0,.075), webkit);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  &::-webkit-input-placeholder{
    color: #d5d5d5;
  }

  &::-moz-input-placeholder{
    color: #d5d5d5;
  }

}

.custom-input-textarea{
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #dedede;
  border-radius: 5px;
  min-height: 245px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
}

.custom-input-select{
  position: relative;
  width: 100%;
  outline: none;
  border: 1px solid #eee;
  background: #fff;
  padding: 0.7em 0.5em;
  font-size: 1.1em;
  font-weight: 600;
  color: $primary_font_color;
  line-height: 1;
  -webkit-appearance: none;
  -moz-apperance: none;
  apperance: none;

  &::-ms-expand{
    display: none;
  }

  option{
    outline: none;
    -webkit-appearance: none;
    -moz-apperance: none;
    apperance: none;
    border: 1px solid #dedede;
    font-size: 1.2em;
    background: rgba(#faf9f9, 1);
    color: $primary_font_color;
  }

}

.media_-select,
.category-select{
  position: relative;
  float: left;

  &:before{
    position: absolute;
    display: block;
    content: "\f107";
    font: normal normal normal 18px/1 FontAwesome;
    z-index: 1;
    color: $primary_font_color;
    right: 0.4em;
    top: 50%;
    pointer-events:none;

    @include prefixer(transform, translateY(-50%), webkit moz o);
  }
}
.category-select{

  select{
    border-radius: 0 5px 5px 0;
    border: 1px dashed;
  }
}
.media_-select{
  min-width: 80px;
  width: 85px;
  max-width: 85px;

  select{
    border-radius: 5px 0 0 5px;
  }
}

.input-radio-wrapper{
  position: relative;
  width: 100%;
  height: 30px;
  text-align: left;
  @include clearfix();

  .custom-input-radio{
    visibility: hidden;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    top: 0;
    float: left;
    margin-left: 15px;
    cursor: pointer;

    &:before{
      position: absolute;
      display: block;
      width: 30px;
      height: 30px;
      content: " ";
      border-radius: 50%;
      border: 2px solid lighten(#3e4149, 20%);
      top: 0;
      visibility: visible;
      cursor: pointer;
    }

    &:after{
      position: absolute;
      display: block;
      width: 0px;
      height: 0px;
      left: 6px;
      top: 6px;
      opacity: 0;
      background: rgba(#0080ff,1);
      content: " ";
      border-radius: 50%;
      visibility: visible;
      transform-origin: 50% 50%;
      transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, opacity 0.1s ease 0s, height 0s linear 0.2s, width 0s linear 0.2s;
    }

    &:checked{
      &:before{
        border: 2px solid rgba(#3e4149, 0.5);
      }

      &:after{
        opacity: 1;
        width: 18px;
        height: 18px;
      }
    }

  }

  label{
    position: relative;
    line-height: 30px;
    font-size: 16px;
    color: $primary_font_color;
    height: 30px;
    float: left;
    cursor: pointer;
    display: inline-block;
  }

}

.file-input-wrapper{
  position: relative;
  width: 100%;
  @include clearfix();
}

.custom-upload-btn{
  outline: none;
  border: 1px solid #eee;
  color: #fff;
  padding: 7px 30px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2em;
  @include prefixer(transition, all 0.22s ease-out);

  i{
    margin-right: 10px;
    font-size: 1.4em;
    vertical-align: middle;
  }

  &.image{
    background: rgba(#E53A40, 0.8);

    &:hover{
      outline: 3px solid lighten(#E53A40, 35%);
      border-radius: 0;
      background: rgba(#E53A40, 1);
    }
  }

  &.sound{
    background: rgba(#D81159, 0.8);

    &:hover{
      outline: 3px solid lighten(#D81159, 35%);
      border-radius: 0;
      background: rgba(#D81159, 1);
    }

  }

  &.video{
    background: rgba(#d64072, 0.9);

    &:hover{
      outline: 3px solid lighten(#d64072, 35%);
      border-radius: 0;
      background: rgba(#d64072, 1);
    }
  }

}

.imagePreview{
  position: relative;
  margin-top: 20px;
  min-height: 130px;
  background: rgba(#CFAA9E, 0.2);
  border: 2px dashed #dedede;

  p{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    @include prefixer(transform, translateY(-50%), webkit moz o);
    text-align: center;
    font-size: 1.5em;
    color: #dedede;
    font-weight: 600;
    display: block;
  }

  img{
    max-width: 100%;
    width: 100%;
    position: relative;
    display: block;
    display: block;
  }
}

.avoid-click-overlay{
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(#dae9f4,0.4);
  visibility: hidden;
  right: 0;
  bottom: 0;
  pointer-events: none !important;

  .uk-icon.uk-spinner{
    position: absolute;
    left: 50%;
    top: 77px;
    @include prefixer(transform, translateX(-50%), webkit moz o);
  }
}

/* Sidebar advanced options form */
.sidebar-form-advance{
  position: relative;
  min-width: 250px;
  max-width: 280px;
  width: 280px;
  background: #fff;
  border-left: 1px solid #d5d5d5;

  &.avoid-click{
    .avoid-click-overlay{
      z-index: 1000;
      visibility: visible !important;
    }
  }

  .advance-options{
    padding: 0 10px 30px 10px;
  }

}


.clearfix{
  @include clearfix();
}

.form-title{
  position: relative;
  font-size: 2em;
  font-family: 'Laila', serif;
  padding: 20px;
  letter-spacing: 0em;
  font-weight: 500;
  color: $primary_font_color;

  span{
    display: block;
    font-size: 13px;
    color: primary_font_color;
    text-transform: capitalize;

  }
}

.heading{
  position: relative;
  width: 100%;
  background: #f9fafa;
  border-bottom: 5px solid darken(#f9fafa,1%);

  h2{
    text-align: center;
    padding: 15px 7px;
    font-size: 1.3em;
    font-weight: 500;
    color: $primary_font_color;
    text-transform: capitalize;
  }
}

.header-gap{
  position: relative;
  width: 100%;
  padding: 35px 0;
}

.padding-top-sm{
  padding-top: 30px !important;
}

/* Custom table list view */
.custom-table-wrapper{
  position: relative;
  width: 100%;
  @include clearfix();
}

.custom-table{
   &.uk-table{

    td{
      vertical-align: middle;
      position: relative;
    }

    th{
      color: #f1f1f1;
      text-align: left;
    }

    thead{
      background: #2ecc71;
    }

    tbody{
      tr{
        border-bottom: 1px solid #eee;
        background-color: #fff;
      }
    }

   }
}

button.action-btn i {
    font-size: 1.5em;
    color: #a79c8e;
}

button.action-btn {
    outline: none;
    background: transparent;
    border: none;
}

.action-box {
    position: absolute;
    top: 0;
    padding: 20px 0;
    left: -150px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: #fff;
    border: 1px solid #f5f5f5;
    @include prefixer(transform, scale(0.2, 0.2), webkit moz ms o);
    @include prefixer(transition, transform 0.2s ease, webkit moz ms o);
    a, li{
      list-style-type: none;
      display: block;
      padding: 10px 30px;
      text-decoration: none;
      color: $primary_font_color;
      cursor: pointer;

      &:hover{
        background: #f1f1f1;
        text-decoration: none;
      }
    }

    &.visible{
      visibility: visible;
      opacity: 1;
      transform: scale(1,1);
    }
}


/* Overwrite selectize sytle */
.selectize-md{
  .selectize-input{
    padding: 12px;
    border-radius: 4px;

    & > input{
      font-size: 16px;
      color: #6e6e6e;
      @include prefixer(box-shadow, inset 0 1px 1px rgba(0,0,0,.075), webkit);
      -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

      &::-webkit-input-placeholder{
        color: #d5d5d5;
      }

      &::-moz-input-placeholder{
        color: #d5d5d5;
      }
    }
  }
}

/* Checkbox */
.custom-checkbox__outer{
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 20px;
  @include clearfix();

  label{
    position: relative;
    background: #f5f5f5;
    line-height: 1;
    float: left;
    width: 100%;
    cursor: pointer;
    padding: 12px 35px 12px 12px;
    display: inline-block;
    @include box-sizing(border-box);

  }

  .checkbox{
    position: relative;
    display: block;
    visibility: hidden;
    top: 5px;
    left: 0;
    bottom: 0;
    height: 28px;
    width: 28px;
    z-index: 2;
    cursor: pointer;
    &:after{
      position: absolute;
      display: block;
      font: normal normal normal 18px FontAwesome;
      content: "\f00c";
      color: $white;
      visibility: visible;
      -webkit-font-smoothing: antialiased;
           -moz-osx-font-smoothing: grayscale;
           background: $white;
           color: #d4d4d4;
           padding: 5px;
           opacity: 1;
           border: 1px solid #d4d4d4;
           @include transition-prefix(all 0.4s ease);
    }

    &:checked:after{
      color: $white;
      background: $emerald;
      border-color: transparent;
    }
  }
}



