
/* Main color */
$slay: #2c3e50;
$cloud: #F4F7FA;
$emerald: #2ecc71;
$white: #fff;
$black: #000;
$whiteGray: #f5f5f5;
$lightBlack: #333;
$fbBackground: rgb(59,89,153);
$heavyGray: rgb(187,187,187);
$transparentBlack: rgba(100,100,100,0.7);
$lightGray: rgb(221,221,221);
$slaveBlack: #333F48;
$darkslay: #2a2e3e;
$pomegranate: #e14d57;
$lightpomegranate: #e14d57;
$green: #27ae60;
$inputbg: #D9D4CF;
$inputcolor: #454545;
$sidebarbg: #353848;
$slae: #548687;
$gradient: linear-gradient(to left,#2ECC71,#27ae60);
$box-shadow:0 7px 14px rgba(46,204,113,.1),0 3px 6px rgba(46,204,113,.08);
/* Background color
 ----------------------------------------- */

 $defaultBg: #f7f7f7;

/* Width
 ----------------------------------------- */

 $fullWidth: 100%;
 $site_container_width: 96%;
 $site_container_padding: 2%;
 $site_md_container: 86%;
 $site_md_container_padding: 7%;
 $site_sm_container: 72%;
 $site_sm_container_padding: 14%;
 $half: 50%;

 /* Section padding & margin
  ----------------------------------------- */

  $section-padding: 30px;
  $section-margin: 15px;

/* Font */

$text_font_size: 14px;
$text_small: 13px;
$text_title: 16px;
$font_size_en: 15px;
$primary_font_color: #817b73;
/* Font family */
$Abel: 'Abel', sans-serif;
$Economica: 'Economica', sans-serif;
$Raleway: "Raleway", sans-serif;

// Body
$body-bg: #f5f8fa;


